<%= form_for @course do |f| %>
	
	<div class="form-control">
				
		<%= f.label :title %>
		<%= f.text_field :title %>

	</div>

	<div class="form-control">
				
		<%= f.label :all_subjects %>
		<%= f.text_field :all_subjects %>

	</div>

	


	
	<div class="form-control">
				
		<%= f.submit 'Добавить' %>

	</div>


<% end %>